<body>
  <form method="post" [formGroup]="input_task" (ngSubmit)="inputItem()">
    <input type="text" size="40" formControlName="to">
    <button type="submit">追加</button>
  </form>

  <hr width="1100">

  <!--一覧表示-->
  
  <!--
  <button class="allTask" border clicked >タスク一覧</button> <button class="cpTask" border>完了タスク</button>

  <ng-container *ngIf="taskStatus = 1 ; else showList">
    <div *ngFor="let to_do of to_do; index as i">
    <table>
      <tr>
        <td><div class="text">{{to_do.to}}<div class="listButton"> <button (click)="mvTask(i)">完了</button><button (click)="deleteTask(i)">削除</button></div></div></td>
      </tr>
    </table>
  </div>
</ng-container>
 
<ng-template #showList>
  <div *ngFor="let cp_to_do of cp_to_do; index as i">
    <table>
      <tr>
        <td><div class="text">{{cp_to_do.to}}<div class="listButton" ><button (click)="mvCpTask(i)">未完</button><button (click)="deleteCpTask(i)">削除</button></div></div></td>
      </tr>
    </table>
  </div>
</ng-template>-->
   
  <h1 class="title">　タスク一覧　</h1>

  <div *ngFor="let to_do of to_do; index as i">
    <table>
      <tr>
        <td><div class="text">{{to_do.to}}<div class="listButton"> <button (click)="mvTask(i)">完了</button><button (click)="deleteTask(i)">削除</button></div></div></td>
      </tr>
    </table>
  </div>
  <br>
  <h1 class="title">　完了タスク　</h1>
  <div *ngFor="let cp_to_do of cp_to_do; index as i">
    <table>
      <tr>
        <td><div class="text">{{cp_to_do.to}}<div class="listButton" ><button (click)="mvCpTask(i)">未完</button><button (click)="deleteCpTask(i)">削除</button></div></div></td>
      </tr>
    </table>
  </div>

  
</body>
