 body{ 
   background-color: #F2E0CF;
   height:100%;
 } 

 div {
  color: aliceblue;;
  vertical-align:middle;
  margin:10px;
}

table{
  background-color: #AF6060;
  width:800px;
}

h1 {
  color: aliceblue;
  background-color: #AF6060;
  display:inline-block;
  
}

