<body>
  <form method="post" [formGroup]="input_task" (ngSubmit)="inputItem()">
    <input type="text" size="40" formControlName="name">
    <button type="submit">追加</button>
  </form>

  <hr width="1100">

  <!--一覧表示-->
  <form>
    <div id="selector">
      <input type="radio" id="allTaskButton" class="allTaskButton" name="allTaskButton">
      <label for="allTaskButton" class="allTaskButton">
        <button class="allTask" border (click)="changeShowAllTask()">タスク一覧</button>
      </label>

      <input type="radio" id="cpTaskButton" class="cpTaskButton" name="cpTaskButton">
      <label for="cpTaskButton" class="cpTaskButton">
        <button class="cpTask" border (click)="changeShowCpTask()">完了タスク</button>
      </label>

    </div>

    <div *ngIf="isView =='AllTask'">
      <h1>タスク一覧表</h1>
      <div *ngFor="let to_do of to_do_list; index as i">
        <div *ngIf="to_do.isComplete == false">
          <table>
            <tr>
              <td>
                <div class="text">{{to_do.name}}<div class="listButton"> <button (click)="changeIsCompleteStatus(i, true)">完了</button>
                  <button (click)="deleteTask(i)">削除</button></div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </form>
  

  <div *ngIf="isView =='CpTask'">
    <h1>完了タスク</h1>
    <div *ngFor="let to_do of to_do_list; index as i">
      <div *ngIf="to_do.isComplete">
        <table>
          <tr>
            <td>
              <div class="text">{{to_do.name}}<div class="listButton"><button (click)="changeIsCompleteStatus(i, false)">未完</button><button (click)="deleteTask(i)">削除</button></div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</body>
