<body>
  <form method="post" [formGroup]="input_task" (ngSubmit)="inputItem()">
    <input type="text" size="40" formControlName="to">
    <button type="submit">追加</button>
  </form>

  <hr width="1100">

  <!--一覧表示-->
  <form>
  <div id="selector">
    <input type="radio" id="allTaskButton" class="allTaskButton" name="allTaskButton">
    <label for="allTaskButton" class="allTaskButton">
      <button class="allTask" border (click)="changeShowAllTask()">タスク一覧</button>
    </label>

    <input type="radio" id="cpTaskButton" class="cpTaskButton" name="cpTaskButton">
    <label for="cpTaskButton" class="cpTaskButton">
      <button class="cpTask" border (click)="changeShowCpTask()">完了タスク</button>
    </label>

  </div>

  <div *ngIf="listStatus == TaskStatus.InProgress ">
    <h1>タスク一覧表</h1>
    <div *ngFor="let to_do_list of to_do_list; index as i">
      <table>
        <tr>
          <td>
            <div class="text">{{to_do_list.to}}<div class="listButton"> <button (click)="mvTask(i)">完了</button><button (click)="deleteTask(i)">削除</button></div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</form>

  <div *ngIf="listStatus == TaskStatus.Complete ">
    <h1>完了タスク</h1>
    <div *ngFor="let cp_to_do_list of cp_to_do_list; index as i">
      <table>
        <tr>
          <td>
            <div class="text">{{cp_to_do_list.to}}<div class="listButton"><button (click)="mvCpTask(i)">未完</button><button (click)="deleteCpTask(i)">削除</button></div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>

</body>
