button{
  color: aliceblue;
  font-weight: 500;
  background-color: #AF6060;
  margin: 10px;
  border: solid 3px #ffffff;
}

label.TaskButton{
  font-size: 200%;
}

label{
  color: dimgray ;
  font-weight: 500;
  background-color: #F2E0CF;
  margin: 5px;
  padding: 10px;
  border: solid 6px #ffffff;
}

#selector input{
  display: none;
}

#selector input[type="radio"]:checked + label {
  color: aliceblue;
  background-color: #AF6060
}

table {
  background-color: #AF6060;
  width: 800px;
  border: solid 0.5px #143642;
}

tr {
    border: solid 0.5px #143642;
}

h1 {
  color: aliceblue;
  background-color: #AF6060;
  display:inline-block;
  margin:20px;
}

div.text{
  color: aliceblue;;
  vertical-align:middle;
  margin-left:10px;
  margin-right:10px;
  margin-top:10px;
  font-size:large;
}

div.listButton {
  color: aliceblue;
  background-color: #AF6060;
  text-align: right;
}



